@model GameStore.WebUI.Models.GameOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameOrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="OrderId" class="control-label"></label>
            <input asp-for="OrderId" class="form-control" />
            <span asp-validation-for="OrderId" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                @Html.DisplayFor(model => model.Customer.FirstName)
                @Html.DisplayFor(model => model.Customer.LastName)
            </div>
            <div class="form-group">
                @Html.DisplayFor(model => model.StoreLocation.Name)
            </div>

            @Html.HiddenFor(m => Model.CustomerId)
            @Html.HiddenFor(m => Model.OrderId)
            @Html.HiddenFor(m => Model.StoreId)

            <div class="form-group">
                <label asp-for="ListOfGames">List of Games</label>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Game.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Game.Price)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderItem.Quantity)
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListOfGames)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => item.Price)
                                </td>
                                <td>
                                    <select asp-for="Quantity" asp-items="@(new SelectList(Model.ChooseQuantity))"></select>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@*<form asp-action="DisplayViewModel">
    <div>
        @Html.DisplayFor(m => m.StoreId)
    </div>
</form>*@

@*<form asp-action="Order">
    <div class="form-group">
        <input type="submit" value="Generic Order" class="btn btn-primary" />
    </div>
</form>*@

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
